<section>
    <article class="d-flex  flex-column align-items-center">
        <h3 class="text-center fw-bold">Prueba de Mesajes..</h3>
        <mat-form-field appearance="fill" class="w-50">
            <mat-label>Message</mat-label>
            <input matInput value="Bienvenido!" #message>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-50">
            <mat-label>Usuario</mat-label>
            <input matInput value="Giovanny" #action>
        </mat-form-field>

        <button class="w-50 btn btn-outline-primary" mat-stroked-button (click)="openSnackBar(message.value, action.value)">Mostra 1 Mensaje!!</button>
        <button class="w-50 btn btn-outline-secondary" mat-stroked-button (click)="openCustomSnackBar(message.value, action.value)">Mostra 2 Mensaje!!</button>

        <div>
            <!-- <app-msn></app-msn -->>
        </div>
    </article>
    <article class="d-flex  justify-content-center align-items-center">
        <mat-form-field appearance="fill">
            <mat-label>Snack_bar duration (seconds)</mat-label>
            <input type="number" [(ngModel)]="durationInSeconds" matInput>
        </mat-form-field>

        <button class="btn btn-primary ms-3" (click)="openCustomSnackBar('Pizza party!!! 🍕')" aria-label="Show an example snack-bar">
            Pizza? 
          </button>

    </article>
    <article class="d-flex  justify-content-evenly align-items-center">
        <mat-form-field appearance="fill">
            <mat-label>Horizontal position</mat-label>
            <mat-select [(value)]="horizontalPosition">
                <mat-option value="start">Start</mat-option>
                <mat-option value="center">Center</mat-option>
                <mat-option value="end">End</mat-option>
                <mat-option value="left">Left</mat-option>
                <mat-option value="right">Right</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Vertical position</mat-label>
            <mat-select [(value)]="verticalPosition">
                <mat-option value="top">Top</mat-option>
                <mat-option value="bottom">Bottom</mat-option>
            </mat-select>
        </mat-form-field>

        <button class="btn btn-success" mat-stroked-button (click)="openSnackBar2()" aria-label="Show an example snack-bar">
            Insertar Posicion
          </button>

    </article>
</section>