<section class="d-flex justify-content-evenly">
    <article>
        <p>investicar fontIcon</p>
        <mat-icon fontSet="fontIcons" fontIcon="fontIcon">account_circle</mat-icon>
    </article>
    <article>
        <p> iconos svg</p>
        <mat-icon svgIcon="iconSVG"></mat-icon>
    </article>
    <article class="align-content-around">
        <p>normal</p>
        <mat-icon color="accent">home</mat-icon>
        <mat-icon inline color="warn">favorite</mat-icon>
        <mat-icon aria-hidden="true" color="primary">favorite</mat-icon>
        <mat-icon matListIcon>folder</mat-icon>
    </article>


</section>