<section class="container-fluid ">
    <article>
        <h1 class="text-center bg-dark text-light">Insignia</h1>
        <app-insignia></app-insignia>
    </article>
    <article>
        <h1 class="text-center bg-dark text-light">btn + icon </h1>
        <app-btn></app-btn>
    </article>

    <article>
        <h1 class="text-center bg-dark text-light">Cards</h1>
        <app-cards></app-cards>
    </article>
    <article>
        <h1 class="text-center bg-dark text-light">Checkbox</h1>
        <app-checkbox></app-checkbox>
    </article>
    <article>
        <h1 class="text-center bg-dark text-light">chips</h1>
        <app-chips></app-chips>
    </article>
    <article>
        <h1 class="text-center bg-dark text-light">Selector de fecha</h1>
        <app-selector-fecha></app-selector-fecha>
    </article>
    <article>
        <h1 class="text-center bg-dark text-light">modal dialog</h1>
        <app-modal-dialogs></app-modal-dialogs>
    </article>
    <article>
        <h1 class="text-center bg-dark text-light"> Panel de expancion</h1>
        <app-panel-expancion></app-panel-expancion>
    </article>
    <article>
        <h1 class="text-center bg-dark text-light">Campo de Formulario</h1>
        <app-campo-formulario></app-campo-formulario>
    </article>
    <article>
        <h1 class="text-center bg-dark text-light">Lista de Cudricula</h1>
        <app-grid-list></app-grid-list>
    </article>
    <article>
        <h1 class="text-center bg-dark text-light">iconos</h1>
        <app-icon></app-icon>
    </article>
    <article>
        <h1 class="text-center bg-dark text-light">Lista</h1>
        <app-lista></app-lista>
    </article>
    <article>
        <h1 class="text-center bg-dark text-light">lista de pagina</h1>
        <app-list-pagina></app-list-pagina>
    </article>
    <article>
        <h1 class="text-center bg-dark text-light">Barra de Progreso</h1>
        <app-barra-progreso></app-barra-progreso>
    </article>
    <article>
        <h1 class="text-center bg-dark text-light">Ripples Touch</h1>
        <app-ripples></app-ripples>
    </article>
    <article>
        <h1 class="text-center bg-dark text-light">Select </h1>
        <app-select></app-select>
    </article>
    <article style="margin-top: 250px;">
        <div style="max-height:90vh ; overflow-y: scroll;">
            <h1 class="text-center bg-dark text-light">Navegacion Laterial (SideNav) </h1>
            <app-navegacion-lateral></app-navegacion-lateral>
        </div>
    </article>
    <article>
        <h1 class="text-center bg-dark text-light">Deslizamiento (slider) </h1>
        <app-deslizaminto></app-deslizaminto>
    </article>
    <article>
        <h1 class="text-center bg-dark text-light">Mostrar Notificaciones (snack-bar) </h1>
        <app-mostrar-notificacion></app-mostrar-notificacion>
    </article>
    <article>
        <h1 class="text-center bg-dark text-light">Table (mat-table) </h1>
        <app-table></app-table>
    </article>
    <article>
        <h1 class="text-center bg-dark text-light">Paso a Paso (mat-stepper) </h1>
        <app-paso-paso></app-paso-paso>
    </article>
    <article>
        <h1 class="text-center bg-dark text-light">Pestañas (mat-tab-group / mat-tab label) </h1>
        <app-tabs></app-tabs>
    </article>
    <article>
        <h1 class="text-center bg-dark text-light">lista ul-li (mat-tree) </h1>
        <app-tree></app-tree>
    </article>
</section>